/* NAVBAR SETTINGS */

.navbar-color {
    background-color: rgba(10, 10, 10, 0.3) !important;
    min-height: 90px;
}

.navbar-title {
    font-size: 35px;
    color: #e79cc2 !important;
    font-family: Lobster, cursive;
}

.navbar-page-link {
    font-size: 20px;
    color: #f6bed6;
    display: inline-block;
}

.navbar-page-link:hover {
    color: #e79cc2;
}

/* LANDING PAGE SETTINGS */

/* UPPER SECTION SETTINGS */

.upper-section {
    padding: 40vh 0 0 0;
    margin: 0 0 0 0;
}

/* UPPER SECTION BACKGROUND IMAGE */

.bgimage {
    background-image: url("../images/plasticSurgeryBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: auto auto;
}

/* UPPER SECTION TEXT */

.text-section {
    width: 100vw;
    text-align: center;
}

.header-text {
    width: 100%;
    font-size: 4.5rem;
    color: #1d1b38;
    font-family: Lobster, cursive;
}

.header-paragraph {
    width: 100%;
    color: #1d1b38;
}

/* FIRST MIDDLE SECTION */

.firstSection {
    height: 50%;
    background-color: #f6bed6;
}

/* FIRST MIDDLE SECTION PHOTO */

.firstSectionPhoto {
    max-height: 50vh;
    width: 100%;
}

/* FIRST MIDDLE SECTION TEXT */

.firstSectionText {
    margin: auto auto;
    text-align: center;
}

/* FIRST MIDDLE SECTION LISTS */

.firstList {
    margin: auto auto;
    display: inline-block;
}

.secondList {
    margin: auto auto;
    display: inline-block;
}

/* SECOND MIDDLE SECTION */

.secondSection {
    height: 50%;
    background-color: #d6efc7;
    text-align: center;
}

/* SECOND MIDDLE SECTION PHOTO */

.secondSectionPhoto {
    height: 50vh;
    width: 100%;
}

/* SECOND MIDDLE SECTION TEXT */

.secondSectionText {
    margin: auto auto;
    text-align: center;
}

.secondSectionHeader {
    padding-bottom: 40px;
}

/* THIRD SECTION */

.thirdSection {
    margin: 20px 0 20px 0;
    height: 10vh;
    text-align: center;
}

/* THIRD SECTION HEADER */

.thirdSectionHeader {
    width: 100%;
    margin-bottom: 20px;
}

/* THIRD SECTION CARDS */

.thirdSectionCard {
    border: 0;
}

@media (min-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}

@media (max-width: 1199.98px) {
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}

/* CONTACT SECTION */

.contactSection {
    height: 50vh;
    text-align: center;
    background-color: #e79cc2;
}

/* CONTACT SECTION HEADER */

.contactSectionHeader {
    width: 100%;
}

/* CONTACT SECTION WAY OF CONTACT */

.wayToContact {
    width: 100vw;
}

/* CONTACT SECTION ICON */

@media (max-width: 767.98px) {
    .contactIcon {
        float: left;
        margin-left: 10% !important;
        display: inline-block;
        font-size: 1.75rem;
        padding-right: 10px;
        padding-bottom: 5px;
    }
}

.contactIcon {
    float: left;
    margin-left: 40%;
    display: inline-block;
    font-size: 1.75rem;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* CONTACT SECTION TEXT */

.contactText {
    float: left;
    padding: 0;
    border: 0;
    background-color: #e79cc2;
    font-size: 1.25rem;
    color: #d6efc7;
    font-weight: bold;
    display: inline-block;
}

.contactText:hover {
    background-color: #e79cc2;
}

/* CONTACT SECTION LINKS */

.contactLink {
    color: #d6efc7;
}

.contactLink:hover {
    color: #1d1b38;
    text-decoration: none;
}

/* ABOUT PAGE SETTINGS */

/* ABOUT SECTION */

.aboutSection {
    padding: 15vh 0 0 0;
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    background-color: #f6bed6;
}

/* ABOUT SECTION IMAGE */

.aboutSectionImage {
    background-color: #f6bed6;
}

.aboutSectionPhoto {
    width: 75%;
    margin: auto auto;
}

/* ABOUT SECTION TEXT */

@media (min-width: 1600px) {
    .aboutSectionText {
        background-color: #f6bed6;
    }
    .aboutSectionHeader {
        height: 10%;
    }
    .aboutSectionDescription {
        height: 60vh;
        font-size: 1.5rem;
    }
}

.aboutSectionText {
    background-color: #f6bed6;
}

.aboutSectionHeader {
    font-family: Lobster, cursive;
    width: 100%;
    text-align: center;
}

.aboutSectionDescription {
    margin: auto auto;
    width: 75%;
}