/* NAVBAR SETTINGS */

.navbar-color {
    background-color: rgba(10, 10, 10, 0.3) !important;
    min-height: 90px;
}

.navbar-title {
    font-size: 35px;
    color: #C8CAC9 !important;
    font-family: Lobster, cursive;
}

.navbar-page-link {
    font-size: 18px;
    color: #ec0da4;
    display: inline-block;
    font-family: Montserrat, sans-serif;
}

.navbar-page-link:hover {
    color: #e79cc2;
}

/* LANDING PAGE SETTINGS */

/* UPPER SECTION SETTINGS */

.upper-section {
    padding: 40vh 0 0 0;
    margin: 0 0 0 0;
}

/* UPPER SECTION BACKGROUND IMAGE */

.bgimage {
    background-image: url("../images/plasticSurgeryBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: auto auto;
}

/* UPPER SECTION TEXT */

.text-section {
    width: 100vw;
    text-align: center;
}

.header-text {
    width: 100%;
    font-size: 4.5rem;
    color: #ec0da4;
    font-family: Lobster, cursive;
}

.header-paragraph {
    width: 100%;
    color: #ec0da4;
}

/* FIRST MIDDLE SECTION */

.firstSection {
    height: 50%;
    background-color: #F269C4;
    text-align: center;
}

/* FIRST MIDDLE SECTION HEADER */

.firstSectionHeader {
    font-family: Lobster, cursive;
}

/* FIRST MIDDLE SECTION TEXT */

.firstSectionText {
    margin: auto auto;
    width: 75%;
    font-family: Montserrat, sans-serif;
}

/* FIRST MIDDLE SECTION COLLAPSE */

.mammoplastyProcedureText {
    background-color: #C8CAC9;
    margin-bottom: 20px;
}

/* SECOND MIDDLE SECTION */

.secondSection {
    height: 50%;
    background-color: #C8CAC9;
    text-align: center;
}

/* SECOND MIDDLE SECTION HEADER */

.secondSectionHeader {
    font-family: Lobster, cursive;
}

/* SECOND MIDDLE SECTION TEXT */

.secondSectionText {
    margin: auto auto;
    text-align: center;
    width: 75%;
    font-family: Montserrat, sans-serif;
}

/* SECOND MIDDLE SECTION COLLAPSE */

.mastopexyProcedureText {
    background-color: #F269C4;
    margin-bottom: 20px;
}

/* THIRD MIDDLE SECTION */

.thirdSection {
    height: 50%;
    background-color: #F269C4;
    text-align: center;
}

/* THIRD MIDDLE SECTION HEADER */

.thirdSectionHeader {
    font-family: Lobster, cursive;
}

/* THIRD MIDDLE SECTION TEXT */

.thirdSectionText {
    margin: auto auto;
    text-align: center;
    width: 75%;
    font-family: Montserrat, sans-serif;
}

/* THIRD MIDDLE SECTION COLLAPSE */

.reductionMammoplastyProcedureText {
    background-color: #C8CAC9;
    margin-bottom: 20px;
}

/* FOURTH SECTION */

.fourthSection {
    margin: 20px 0 20px 0;
    height: 10vh;
    text-align: center;
}

/* FOURTH SECTION HEADER */

.fourthSectionHeader {
    width: 100%;
    margin-bottom: 20px;
    font-family: Lobster, cursive;
}

/* FOURTH SECTION CARDS */

.fourthSectionCard {
    border: 0;
    font-family: Montserrat, sans-serif;
}

@media (min-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}

@media (max-width: 1199.98px) {
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}

/* FOURTH SECTION COLLAPSES */

/* FOURTH SECTION FIRST COLLAPSE */

.rhinoplastyProcedureText {
    background-color: #C8CAC9;
    margin-bottom: 20px;
}

/* FOURTH SECTION SECOND COLLAPSE */

.otoplastyProcedureText {
    background-color: #C8CAC9;
    margin-bottom: 20px;
}

/* FOURTH SECTION THIRD COLLAPSE */

.lobuloplastyProcedureText {
    background-color: #C8CAC9;
    margin-bottom: 20px;
}

/* CONTACT SECTION */

.contactSection {
    height: 125px;
    background-color: #F269C4;
    font-family: Montserrat, sans-serif;
}

/* CONTACT SECTION HEADER */

.contactSectionHeader {
    width: 100%;
    font-family: Lobster, cursive;
}

/* CONTACT SECTION WAY OF CONTACT */

.wayToContact {
    margin: 0 auto;
}

/* CONTACT SECTION ICON */

.contactIcon {
    float: left;
    display: inline-block;
    font-size: 1.75rem;
    padding-right: 10px;
    padding-bottom: 5px;
}

/* CONTACT SECTION TEXT */

.contactText {
    float: left;
    padding: 0;
    border: 0;
    background-color: #F269C4;
    font-size: 1rem;
    color: #d6efc7;
    font-weight: bold;
    display: inline-block;
}

.contactText:hover {
    background-color: #F269C4;
}

/* CONTACT SECTION LINKS */

.contactLink {
    color: #d6efc7;
}

.contactLink:hover {
    color: #1d1b38;
    text-decoration: none;
}

/* ABOUT PAGE SETTINGS */

/* ABOUT SECTION */

.aboutSection {
    padding: 15vh 0 0 0;
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    background-color: #f6bed6;
}

/* ABOUT SECTION IMAGE */

.aboutSectionImage {
    background-color: #f6bed6;
}

.aboutSectionPhoto {
    width: 75%;
    margin: auto auto;
}

/* ABOUT SECTION TEXT */

@media (min-width: 1600px) {
    .aboutSectionText {
        background-color: #f6bed6;
    }
    .aboutSectionHeader {
        height: 10%;
    }
    .aboutSectionDescription {
        height: 60vh;
        font-size: 1.5rem;
    }
}

.aboutSectionText {
    background-color: #f6bed6;
}

.aboutSectionHeader {
    font-family: Lobster, cursive;
    width: 100%;
    text-align: center;
}

.aboutSectionDescription {
    margin: auto auto;
    width: 75%;
}

/* MAMMOPLASTY PAGE SETTINGS */

